/* 
* index.html v0.9.0
* Update : 2019.10.02
* Author : Aram,Kim 
*/

/* main.css */
h3,h4 {
    color: white;
    font-weight: bold;
}

.name {
    color: white;
    padding-right: 20px;
}

ul {
    width: 100%;
    height: 30px;
    background: rgb(23, 24, 23);
    list-style: none;
    padding: 15px 10px 8px;
    margin: 0px;
}

ul li {
    float: left;
    margin-right: 10px;
}

ul li a {
    font-family: 'Gugi', cursive;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(155, 152, 152);
    font-weight: bold;
    text-decoration: none;
}

.article1_bg {
    background-color: cadetblue;
    text-align: center;
    height: 300px;
    padding: 15px;
}

.block {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    background-color: bisque;
    margin: 10px;
    padding: 5px;
    line-height: 200px;
}

.article2_bg {
    height: 300px;
    padding: 15px;
    background-color: darkslategrey;
    text-align: center;
}

.image-cropper-50 {
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.image-cropper-25 {
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    border-radius: 25%;
}

.image-cropper-5 {
    height: 200px;
    margin: 15px;
    width: 200px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border-radius: 5%;
}

.article3_bg {
    padding: 15px;
    background-color: darkolivegreen;
    text-align: center;
}

.article4_bg {
    padding: 15px;
    background-color: darkseagreen;
    text-align: center;
}

.article5_bg {
    padding: 15px;
    background-color: lightslategrey;
    text-align: center;
}

.table_s {
    font-weight: bold;
    margin: auto;
    width: 500px;
    height: 250px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

.article_left {
    float: left;
    text-align: right;
    width: 50%;
    height: 300px;
    background-color: cadetblue;
}

.article_left section {
    margin: 80px 10px;
}
.article_left p {
    font-weight: 600;
    line-height: 1.7em;
}
.article_right {
    float: right;
    height: 300px;
    width: 50%;
    background-color: darkkhaki;
    text-align: left;
}

.article_right section {
    margin: 80px 10px;
}

.article_right p {
    font-weight: 600;
    line-height: 1.7em;
}

.grid_container {
    clear: both;
    background-color: olivedrab;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid_item {
    background-color: rgb(161, 202, 99);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 500;
}

.item1 {
    grid-column: 1/ span 3;
    grid-row: 1;
    font-weight: bold;
}

.item2 {
    grid-column: 1/ span 2;
    grid-row: 2;
}

.item3 {
    grid-column: 3;
    grid-row: 2/ span 2;
}

.item10 {
    grid-column: 2/ span 2;
    grid-row: 5;
}

aside {
    height: 300px;
    border: 10px solid skyblue;
    font-size: 30pt;
    font-family: 'Nanum Pen Script', cursive;
}

footer {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-size: 12pt;
    text-align: center;
    height: 50px;
    line-height: 50px;
}